<div>
    <h2>{{user.name}}</h2>
    <div class="alert alert-danger" ng-show="error">
        {{ error }}
    </div>
</div>


<table class="table">
    <thead>
        <caption>
            <h3>Repositories</h3>
        </caption>
        <tr>
            <th>Order by:
                <select ng-model="repoSortOrder">
                    <option value="+name">Name</option>
                    <option value="-stargazers_count">Stars</option>
                    <option value="+langugages">Languages</option>
                </select>
            </th>

        </tr>
        <tr>
            <th>Name</th>
            <th>Stars</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="repo in repos | orderBy:repoSortOrder ">
            <td>
                <a href="#/repo/{{user.login}}/{{repo.name}}" class="link">
                    {{repo.name}}
                </a>
                
                
            </td>
            <td>{{repo.stargazers_count | number}}</td>
            <td>{{repo.language}}</td>

        </tr>
    </tbody>
</table>

<a class="btn btn-default" href="#/main"> Back to search</a>